<app-menu></app-menu>
<app-menu-categorias></app-menu-categorias>
<div class="card">
  <div class="card-header text-center">
    <h5>Minha Conta Clothers</h5>
  </div>

  <div class="card-body">
    <h5 class="card-title">Informações da Conta</h5>
    <hr>
    <h6>Informações de Contato</h6>
    <div>
      <label>{{cliente.nome}}</label>
    </div>
    <div>
      <label>{{cliente.email}}</label>
    </div>
    <div>
      <label>{{cliente.telefone}}</label>
    </div>
    <br>
    <h5 class="card-title">Endereço</h5>
    <hr>
    <h6>Informações de Endereço</h6>
    <div>
      <label>{{cliente.rua}}</label>
    </div>
    <div>
      <label>{{cliente.numero}}</label>
    </div>
    <div>
      <label>{{cliente.complemento}}</label>
    </div>
    <div>
      <label>{{cliente.bairro}}</label>
    </div>
    <div>
      <label>{{cliente.cidade}}</label>
    </div>
    <div>
      <label>{{cliente.estado}}</label>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-outline-dark mr-3" (click)="openModalEditar(template)">Editar</button>
      <button type="button" class="btn btn-outline-dark" (click)="openModalAlterarSenha(template1)">Alterar Senha</button>
    </div>
  </div>
  <div class="card-footer text-muted"></div>
</div>


<!-- Código modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar Informações</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalEditar.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioEditar" (ngSubmit)="editarCliente()" novalidate>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input [class.is-invalid] = "formularioEditar.get('nome').invalid && formularioEditar.get('nome').touched" type="text" class="form-control" id="nome" placeholder="Seu nome" formControlName="nome">
        <small *ngIf="!formularioEditar.get('nome').valid && formularioEditar.get('nome').touched" class="form-text text-danger">Campo obrigatório</small>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input [class.is-invalid] = "formularioEditar.get('email').invalid && formularioEditar.get('email').touched" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Seu email"
          formControlName="email">
        <div *ngIf="(formularioEditar.get('email').invalid && formularioEditar.get('email').touched) || formularioEditar.get('email').dirty">
          <small *ngIf="formularioEditar.get('email').errors?.required" class="text-danger">Campo obrigatório</small>
          <!--question mark(?) is a safe navigation operator-->
          <small *ngIf="formularioEditar.get('email').errors?.pattern" class="text-danger">Informe um endereço de email válido</small>
        </div>
      </div>

      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input [class.is-invalid] = "formularioEditar.get('telefone').invalid && formularioEditar.get('telefone').touched" type="text" class="form-control" id="telefone" placeholder="(DDD) 9****-****" [textMask]="{mask: mask}" [(ngModel)]="myModel" formControlName="telefone">
        <small *ngIf="!formularioEditar.get('telefone').valid && formularioEditar.get('telefone').touched" class="form-text text-danger">Campo obrigatório</small>
      </div>

      <div class="form-group">
        <label for="rua">Rua</label>
        <input [class.is-invalid] = "formularioEditar.get('rua').invalid && formularioEditar.get('rua').touched" type="text" class="form-control" id="rua" placeholder="Rua dos Bobos" formControlName="rua">
        <small *ngIf="!formularioEditar.get('rua').valid && formularioEditar.get('rua').touched" class="form-text text-danger">Campo obrigatório</small>
      </div>

      <div class="form-group formato">
        <label for="numero">Número</label>
        <input [class.is-invalid] = "formularioEditar.get('numero').invalid && formularioEditar.get('numero').touched" type="number" class="form-control" id="numero" placeholder="nº 0" formControlName="numero">
        <small *ngIf="!formularioEditar.get('numero').valid && formularioEditar.get('numero').touched" class="form-text text-danger">Campo obrigatório</small>
      </div>

      <div class="form-group formato2">
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control" id="complemento" placeholder="Complemento" formControlName="complemento">
      </div>

      <div class="form-group formato3">
        <label for="bairro">Bairro</label>
        <input [class.is-invalid] = "formularioEditar.get('bairro').invalid && formularioEditar.get('bairro').touched" type="text" class="form-control" id="bairro" placeholder="Bairro" formControlName="bairro">
        <small *ngIf="!formularioEditar.get('bairro').valid && formularioEditar.get('bairro').touched" class="form-text text-danger">Campo obrigatório</small>
      </div>

      <div class="form-group formato4">
        <label for="cidade">Cidade</label>
        <input [class.is-invalid] = "formularioEditar.get('cidade').invalid && formularioEditar.get('cidade').touched" type="text" class="form-control" id="cidade" placeholder="Cidade" formControlName="cidade">
        <small *ngIf="!formularioEditar.get('cidade').valid && formularioEditar.get('cidade').touched" class="form-text text-danger">Campo obrigatório</small>
      </div>

      <div class="form-group formato5">
        <label for="estado">Estado</label>
        <select [class.is-invalid] = "formularioEditar.get('estado').invalid && formularioEditar.get('estado').touched" class="form-control" id="estado" formControlName="estado">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
        <small *ngIf="!formularioEditar.get('estado').valid && formularioEditar.get('estado').touched" class="form-text text-danger">Campo obrigatório</small>
      </div>


      <div class="modal-footer">
        <button type="submit" value="submit" class="btn btn-success">Salvar</button>
      </div>
    </form>
  </div>

</ng-template>

<ng-template #template1>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Alterar Senha</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalAlterarSenha.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="formularioAlterarSenha" (ngSubmit)="AlterarSenha()" novalidate>

        <div class="form-group">
          <label for="inputNovaSenha">Nova senha</label>
          <input type="password" class="form-control" id="inputNovaSenha" placeholder="Nova senha" formControlName="novaSenha">
        </div>

        <div class="form-group">
          <label for="inputConfirmaSenha">Confirmar senha</label>
          <input type="password" class="form-control" id="inputConfirmaSenha" placeholder="Confirmar senha" formControlName="confirmarSenha">
        </div>
      </form>
    </div>

    <div class="modal-footer">
        <button type="submit" value="submit" class="btn btn-success">Salvar</button>
    </div>
  </div>
</ng-template>