.card{
    border-color:#17A589;
    margin: 0 auto; /* Added */
    /* float: none; */
    margin-top: 1%;
    width: 52%;
}

.card-header, .card-footer{
    background-color: #17A589;
    color: white;
}

.btn-outline-dark{
    border-color:#17A589;
}

.btn-outline-dark:hover{
    background-color: #17A589;
}

.formato{
    float: left;
    width: 30%;
    padding-right: 5%;
}

.formato2{
    float: left;
    width: 70%;
}

.formato3{
    clear: both;
}

.formato4{
    float: left;
    width: 50%;
    padding-right: 5%;
}

.formato5{
    float: left;
    width: 50%;
}

button{
    margin-top: 10px;
}
