<app-menu></app-menu>
<app-menu-categorias></app-menu-categorias>
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h5>Criar uma conta Clothes</h5>
        </div>

        <div class="card-body">
            <form [formGroup]="clienteForm" (ngSubmit)="addCliente(clienteForm.value,template1)">
                <div class="form-group">
                    <label for="formGroupExampleInput">Nome</label>
                    <input [class.is-invalid] = "clienteForm.get('nome').invalid && clienteForm.get('nome').touched" type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome" formControlName = "nome">
                    <small *ngIf="!clienteForm.get('nome').valid && clienteForm.get('nome').touched" class="form-text text-danger">Campo obrigatório</small>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input  [class.is-invalid] = "clienteForm.get('email').invalid && clienteForm.get('email').touched" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="joao@gmail.com"  formControlName = "email">
                    <div *ngIf="(clienteForm.get('email').invalid && clienteForm.get('email').touched) || clienteForm.get('email').dirty">
                        <small *ngIf="clienteForm.get('email').errors?.required" class="text-danger">Campo obrigatório</small>
                        <!--question mark(?) is a safe navigation operator-->
                        <small *ngIf="clienteForm.get('email').errors?.pattern" class="text-danger">Informe um endereço de email válido</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputFone">Telefone</label>
                    <input  [class.is-invalid] = "clienteForm.get('telefone').invalid && clienteForm.get('telefone').touched" type="text" class="form-control" id="inputFone" placeholder="(DDD) 9****-****" [textMask]="{mask: mask}" formControlName = "telefone">
                    <small *ngIf="!clienteForm.get('telefone').valid && clienteForm.get('telefone').touched" class="form-text text-danger">Campo obrigatório</small>
                </div>

                <div class="form-group">
                    <label for="inputRua">Rua</label>
                    <input [class.is-invalid] = "clienteForm.get('rua').invalid && clienteForm.get('rua').touched" type="text" class="form-control" id="inputRua" placeholder="Rua dos Bobos" formControlName = "rua">
                    <small *ngIf="!clienteForm.get('rua').valid && clienteForm.get('rua').touched" class="form-text text-danger">Campo obrigatório</small>
                </div>

                <div class="form-group formato">
                    <label for="inputNumero">Número</label>
                    <input [class.is-invalid] = "clienteForm.get('numero').invalid && clienteForm.get('numero').touched" type="number" class="form-control" id="inputNumero" placeholder="nº 0" formControlName = "numero">   
                    <small *ngIf="!clienteForm.get('numero').valid && clienteForm.get('numero').touched" class="form-text text-danger">Campo obrigatório</small>
                </div>

                <div class="form-group formato2">
                    <label for="inputComplemento">Complemento</label>
                    <input type="text" class="form-control" id="inputComplemento" placeholder="Complemento" formControlName = "complemento">
                </div>

                <div class="form-group formato3">
                    <label for="inputBairro">Bairro</label>
                    <input [class.is-invalid] = "clienteForm.get('bairro').invalid && clienteForm.get('bairro').touched" type="text" class="form-control" id="inputBairro" placeholder="Bairro" formControlName = "bairro">
                    <small *ngIf="!clienteForm.get('bairro').valid && clienteForm.get('bairro').touched" class="form-text text-danger">Campo obrigatório</small>
                </div>

                <div class="form-group formato4">
                    <label for="inputCidade">Cidade</label>
                    <input [class.is-invalid] = "clienteForm.get('cidade').invalid && clienteForm.get('cidade').touched" type="text" class="form-control" id="inputCidade" placeholder="Cidade" formControlName = "cidade">
                    <small *ngIf="!clienteForm.get('cidade').valid && clienteForm.get('cidade').touched" class="form-text text-danger">Campo obrigatório</small>
                </div>

                <div class="form-group formato5">
                    <label for="inputEstado">Estado</label>
                    <select [class.is-invalid] = "clienteForm.get('estado').invalid && clienteForm.get('estado').touched" class="form-control" id="inputEstado" formControlName = "estado">
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                    <small *ngIf="!clienteForm.get('estado').valid && clienteForm.get('estado').touched" class="form-text text-danger">Campo obrigatório</small>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input  [class.is-invalid] = "clienteForm.get('senha').invalid && clienteForm.get('senha').touched" type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" formControlName = "senha">
                    <small *ngIf="!clienteForm.get('senha').valid && clienteForm.get('senha').touched" class="form-text text-danger">Campo obrigatório</small>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-outline-dark" [disabled]="!clienteForm.valid">Cadastar</button>
                </div>
            </form>                
        </div>

        <div class="card-footer text-muted"></div>
    </div>

</div>

<ng-template #template1>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" >Cliente Salvo</h5>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalSalvar.hide()">
                <span aria-hidden="true">&times;</span>
            </button> 
        </div>

        <div class="modal-body">
            <p>Cliente Salvo com sucesso!</p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="modalSalvar.hide()">OK</button>
          </div>
    </div>
</ng-template>