<app-menu></app-menu>
<app-menu-categorias></app-menu-categorias>
<div class="container mt-4">
	<div class="row">
		<div class="col-8">
			Minha sacola
		</div>
		<div class="col-4">
			Resumo da compra 
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-8">
			<div class="card mb-3 shadow-sm" *ngFor = "let produto of produtos"><!--  Inicio produto -->
				<div class="row">
					<div class="col-2">
						<div class="p-3">
							<img [src]="produto.data" width="100px" height="100px" alt="">
						</div>
					</div>
					<div class="col-9">
						<div class="p-2">
							<div>
								<h5>{{produto.titulo}}</h5>
							</div>
							<div>
								<h6 class="tamanhoInline mr-1">Tamanho: </h6><p class="tamanhoInline ">{{ produto.tamanhoEscolhido }}</p>
							</div>
							<div>
								<h6>Preço unitário:</h6><p> R$ {{ produto.preco }}</p>
							</div>
						</div>
					</div>
					<div class="col-1">
						<div class="p-2 formLink">
							<img src="../../assets/icon-excluir.png" alt="" (click) = excluirProdutoSacola(produto)>
						</div>
							
					</div>
				</div>
				<hr>
				<div class="row p-3">
					<div class="col-6">
						<span class="text-secondary">
							Quantidade: 
						</span>
						<span class="formLink">
							<img src="../../assets/icons-menos.png" alt="" (click) = diminuiQuantidade(produto)>
						</span>
						<span>
							<!-- <input class="borda-qnt rounded" type="number" min="1" max="10" value="1"> -->
							<label class="borda-qnt rounded" >{{produto.quantidadeEscolhida}}</label>
						</span>
						<span class="formLink">
							<img src="../../assets/icons-mais.png" alt="" (click) = aumentaQuantidade(produto)>
						</span>
					</div>
					<div class="col-6">	
						<div class="d-flex justify-content-end mr-2">
							<h3>R$ {{produto.preco * produto.quantidadeEscolhida}}</h3>
						</div>
					</div>
				</div>

			</div><!--  Fim produto -->
		</div>
		<div class="col-4">
			<div class="resumo-compra rounded p-2">
				<div>
					<span class="span-format">Quantidade itens</span>
					<span class="text-right span-format"><h5>{{ quantidadeProduto }}</h5></span>
				</div>
				<hr>
				<div class="">
					<span class="span-format">Valor total</span>
					<span class="text-right span-format"><h5>R$ {{ soma }}</h5></span>
				</div>
				<div class="mt-4">
					<button class="btn btn-success btn-block" (click) = continuarPedido()>CONTINUAR</button>
					<button class="btn btn-outline-info btn-block" routerLink = '/'>ESCOLHER MAIS PRODUTOS</button>
				</div>
				
			</div>
		</div>
	</div>
</div>
