<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 22rem; margin-top: 10px;">
                <a routerLink = "/descricao-produto"><img src="https://picsum.photos/750/600" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a routerLink = "/descricao-produto"><h5 class="card-title">Card title</h5></a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-success">Comprar agora</button> 
                    <button type="button" class="btn btn-danger espaco">Add na sacola</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 22rem; margin-top: 10px;">
                <a routerLink = "/descricao-produto"><img src="https://picsum.photos/750/600" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a routerLink = "/descricao-produto"><h5 class="card-title">Card title</h5></a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-success">Comprar agora</button> 
                    <button type="button" class="btn btn-danger espaco">Add na sacola</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 22rem; margin-top: 10px;">
                <a routerLink = "/descricao-produto"><img src="https://picsum.photos/750/600" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a routerLink = "/descricao-produto"><h5 class="card-title">Card title</h5></a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-success">Comprar agora</button> 
                    <button type="button" class="btn btn-danger espaco">Add na sacola</button>
                </div>
            </div>
        </div>  
    </div>
</div>

