<app-menu></app-menu>
<app-menu-categorias></app-menu-categorias>
<div class="container">
    <div class="row">
        <div *ngFor="let produto of produtos" class="col-4">
            <div class="card" style="width: 22rem; margin-top: 20px; ">
                <a [routerLink] = "['/descricao-produto', produto.idproduto]"><img [src]=  "produto.fotos[0].data"  class="card-img-top" alt="..."></a>
                
                <div class="card-body">
                    <a [routerLink] = "['/descricao-produto', produto.idproduto]"><h5 class="card-title mb-1"> {{ produto.titulo }}</h5></a>
                    <p class="text-muted mb-1">{{ produto.descricao }}</p>
                    <h5 class=""> R$ {{ produto.preco }}</h5>
                    <div *ngIf = "!administrador">
                        <button type="button"  class="btn btn-success">Comprar agora</button> 
                        <button type="button" class="btn btn-danger espaco">Add na sacola</button> 
                    </div>
                    <div *ngIf = "administrador">
                        <button type="button" class="btn btn-success" (click)="openModalEditar(template, produto)">Editar</button> 
                        <button type="button" class="btn btn-danger espaco" (click)="openModalExcluir(template1, produto)">Excluir</button> 
                    </div>
                </div>
            </div>
        </div>
        
    </div>  
</div>


<!-- Código modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Editar Produto</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalEditar.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formularioEditar" (ngSubmit)="editarProduto()" novalidate>
            <div class="form-group">
                <label for="formGroupExampleInput">Nome</label>
                <input type="text" class="form-control"  formControlName="titulo" placeholder="Nome do Produto">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Descrição</label>
                <textarea class="form-control"  formControlName="descricao"></textarea>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Preço</label>
                <input type="text" class="form-control"  formControlName="preco" placeholder="Preço do Produto">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Quantidade</label>
                <div class="row">
                    <div class="col-4">
                        <label for="formGroupExampleInput">P</label>
                        <input type="text" class="form-control"  formControlName="qtdP">
                    </div>
                    <div class="col-4">
                        <label for="formGroupExampleInput">M</label>
                        <input type="text" class="form-control"  formControlName="qtdM">
                    </div>
                    <div class="col-4">
                        <label for="formGroupExampleInput">G</label>
                        <input type="text" class="form-control"  formControlName="qtdG">
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                    <button type="submit" value="submit" class="btn btn-success">Salvar</button>
                </div>
        </form>  
    </div>
    
</ng-template>
    
<ng-template #template1>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" >Excluir Produto</h5>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalExcluir.hide()">
                <span aria-hidden="true">&times;</span>
            </button> 
        </div>

        <div class="modal-body">
            <p>Você tem certeza que deseja excluir este produto?</p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalExcluir.hide()">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="excluirProduto()" >Excluir</button>
          </div>
    </div>
</ng-template>