<app-menu></app-menu>
<app-menu-categorias></app-menu-categorias>
<div class="container">
    <div class="row">
        <div *ngFor="let produto of produtos" class="col-4">
            <div class="card" style="width: 22rem; margin-top: 20px; ">
                <a routerLink = "/descricao-produto"><img src="https://picsum.photos/750/600" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a routerLink = "/descricao-produto"><h5 class="card-title"> {{ produto.titulo }}</h5></a>
                    <p class="card-text">{{ produto.descricao }}</p>
                    <h3 class="">{{ produto.preco }}</h3>
                    <div *ngIf = "!administrador">
                        <button type="button" class="btn btn-success">Comprar agora</button> 
                        <button type="button" class="btn btn-danger espaco">Add na sacola</button> 
                    </div>
                    <div *ngIf = "administrador">
                        <button type="button" class="btn btn-success" (click)="openModalEditar(template)">Editar</button> 
                        <button type="button" class="btn btn-danger espaco" (click)="openModalExcluir(template1)">Excluir</button> 
                    </div>
                </div>
            </div>
        </div>
        
    </div>  
</div>


<!-- Código modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Editar Produto</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalEditar.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Nome</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome do Produto">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Descrição</label>
                <textarea class="form-control" id="validationTextarea" required></textarea>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Preço</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Preço do Produto">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Quantidade</label>
                <div class="row">
                    <div class="col-4">
                        <label for="formGroupExampleInput">P</label>
                        <input type="text" class="form-control" id="formGroupExampleInput">
                    </div>
                    <div class="col-4">
                        <label for="formGroupExampleInput">M</label>
                        <input type="text" class="form-control" id="formGroupExampleInput">
                    </div>
                    <div class="col-4">
                        <label for="formGroupExampleInput">G</label>
                        <input type="text" class="form-control" id="formGroupExampleInput">
                    </div>
                </div> 
            </div>
        </form>  
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success">Salvar</button>
    </div>
</ng-template>
    
<ng-template #template1>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" >Excluir Produto</h5>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalExcluir.hide()">
                <span aria-hidden="true">&times;</span>
            </button> 
        </div>

        <div class="modal-body">
            <p>Você tem certeza que deseja excluir este produto?</p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalExcluir.hide()">Cancelar</button>
            <button type="button" class="btn btn-danger" >Excluir</button>
          </div>
    </div>
</ng-template>