<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h5>Já tenho uma conta Clothes</h5>
        </div>

        <div class="card-body">
            <p>Faça seu login agora para acompanhar seus pedidos, ter acesso a ofertas exclusivas e muito mais.</p>
            <h4 *ngIf="error">{{error}}</h4>
            <form (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="email">Endereço de email</label>
                    <input type="text" name="email" class="form-control" placeholder="Seu email" [(ngModel)]="email" required/>
                    <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                </div>

                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" name="password" class="form-control" placeholder="Senha" [(ngModel)]="password" required/>
                </div>

                <!-- <div class="form-group">
                    <a href="">Esqueci minha senha</a>
                </div> -->

                <div class="text-center">
                    <button type="submit" class="btn btn-outline-dark">Entrar</button>
                </div>
            </form>
            <br>
            <div class="text-center">
                <h6>Ainda não tem uma conta?</h6>
                <button type="submit" class="btn btn-outline-dark" routerLink="/cadastro">Cadastrar</button>
            </div>
        </div>
        <div class="card-footer text-muted"></div>
    </div>

</div>


