<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h5>Já tenho uma conta Clothes</h5>
        </div>

        <div class="card-body">
            <p>Faça seu login agora para acompanhar seus pedidos, ter acesso a ofertas exclusivas e muito mais.</p>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Endereço de email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
                    <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>

                <div class="form-group">
                    <a href="">Esqueci minha senha</a>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-outline-dark">Enviar</button>
                </div>
            </form>
            <br>
            <div class="text-center">
                <h6>Ainda não tem uma conta?</h6>
                <button type="submit" class="btn btn-outline-dark" routerLink="/cadastro">Cadastrar</button>
            </div>
        </div>
        <div class="card-footer text-muted"></div>
    </div>

</div>


