<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse centralizar" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item espaco">
                    <a class="nav-link" routerLink = '/feminino'>Feminino</a>
                </li>
                <li class="nav-item espaco">
                    <a class="nav-link" routerLink = '/masculino'>Masculino</a>
                </li>
                <li class="nav-item espaco">
                    <a class="nav-link" routerLink = '/infantil'>Infantil</a>
                </li>
                <li class="nav-item espaco">
                    <a class="nav-link" routerLink = '/esporte-fino'>Esporte Fino</a>
                </li>
                <li class="nav-item espaco">
                    <a class="nav-link" routerLink = '/esporte'>Esporte</a>
                </li>
            </ul> 
        </div>
    </nav>
</div>