<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 22rem; margin-top: 10px;">
                <a routerLink = "/descricao-produto"><img src="https://picsum.photos/750/600" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a routerLink = "/descricao-produto"><h5 class="card-title">Card title</h5></a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div *ngIf = "!administrador">
                        <button type="button" class="btn btn-success">Comprar agora</button> 
                        <button type="button" class="btn btn-danger espaco">Add na sacola</button> 
                    </div>
                    <div *ngIf = "administrador">
                        <button type="button" class="btn btn-success" (click)="openModal(template)">Editar</button> 
                        <button type="button" class="btn btn-danger espaco">Excluir</button> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 22rem; margin-top: 10px;">
                <a routerLink = "/descricao-produto"><img src="https://picsum.photos/750/600" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a routerLink = "/descricao-produto"><h5 class="card-title">Card title</h5></a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div *ngIf = "!administrador">
                        <button type="button" class="btn btn-success" (click)="openModal(template)">Comprar agora</button> 
                        <button type="button" class="btn btn-danger espaco">Add na sacola</button> 
                    </div>
                    <div *ngIf = "administrador">
                        <button type="button" class="btn btn-success" (click)="openModal(template)">Editar</button> 
                        <button type="button" class="btn btn-danger espaco">Excluir</button> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 22rem; margin-top: 10px;">
                <a routerLink = "/descricao-produto"><img src="https://picsum.photos/750/600" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a routerLink = "/descricao-produto"><h5 class="card-title">Card title</h5></a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div *ngIf = "!administrador">
                        <button type="button" class="btn btn-success">Comprar agora</button> 
                        <button type="button" class="btn btn-danger espaco">Add na sacola</button> 
                    </div>
                    <div *ngIf = "administrador">
                        <button type="button" class="btn btn-success">Editar</button> 
                        <button type="button" class="btn btn-danger espaco">Excluir</button> 
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>
    