<div class="nav-superior">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3  d-flex align-items-center ">
                <a class="navbar-brand" href="#"><img src="../../assets/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col-lg-6 d-flex justify-content-center ">
                <form class="form-inline" [formGroup]="pesquisarForm" (ngSubmit)="addProduto(pesquisarForm.value)">
                    <input class="form-control pesquisar" type="input" placeholder="Search" aria-label="Search" formControlName="pesquisar">
                    <button class="btn btn-procurar" [disabled]="!pesquisarForm.valid"><img src="../../assets/procurar.png"  alt="" ></button>
                </form> 
            </div>
            <div class="col-lg-3 d-flex justify-content-end align-items-center ">
                <div *ngIf = "!administrador">
                    <button class="btn" routerLink = '/carrinho'><img src="../../assets/sacola-compra.png" width="35px"></button>
                </div>
                <div class="dropdown" *ngIf = "administrador">
                    <button class="btn"><img src="../../assets/settings.png" width="35px"></button>
                    <div class="dropdown-content" style="z-index:4;">
                        <a routerLink="/adm-cliente">Clientes</a>
                        <a routerLink="/adm-produtos">Produtos</a>
                        <a routerLink="/novo-produto">Novo Produto</a>
                    </div>
                </div>
                
                <div class="dropdown" style="float:right;">
                    <button class="btn"><img src="../../assets/user.png" width="50px"alt=""></button>
                    <div class="dropdown-content" style="z-index:4;">
                        <a routerLink="/login" *ngIf = "!islogged">Entrar</a>
                        <a routerLink="/informacoes-cliente" *ngIf = "islogged">Minha Conta</a>
                        <a routerLink="" (click)="Logout()">Sair</a>
                        <a routerLink="/listar-pedidos" *ngIf = "islogged">Meus Pedidos</a>
                        <a routerLink="" (click)="Logout()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


