<div class="nav-superior">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3  d-flex align-items-center ">
                    <a class="navbar-brand" href="#"><img src="../../assets/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
            </div>
            <div class="col-lg-6 d-flex justify-content-center ">
                <form class="form-inline">
                        <input class="form-control pesquisar" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-procurar"><img src="../../assets/procurar.png"  alt=""></button>
                </form> 
            </div>
            <div class="col-lg-3 d-flex justify-content-end align-items-center ">
                    

                <div class="dropdown" style="float:right;">
                    <button class="btn"><img src="../../assets/user.png" width="50px"alt=""></button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
      

</div>

