<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h5>Alterar sua Senha</h5>
        </div>

        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Senha atual</label>
                    <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Senha atual">
                </div>

                <div class="form-group">
                    <label for="inputNovaSenha">Nova senha</label>
                    <input type="password" class="form-control" id="inputNovaSenha" placeholder="Nova senha">
                </div>

                <div class="form-group">
                    <label for="inputConfirmaSenha">Confirmar senha</label>
                    <input type="password" class="form-control" id="inputConfirmaSenha" placeholder="Confirmar senha">   
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-outline-dark">Salvar</button>
                </div>
            </form>                
        </div>

        <div class="card-footer text-muted"></div>
    </div>

</div>





