<div class="container">
        <div class="card">
            <div class="card-header text-center">
                <h5>Novo Produto</h5>
            </div>

            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Nome Produto</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome Produto">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Descrição</label>
                        <textarea class="form-control" id="validationTextarea" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Preço</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Preço do Produto">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Quantidade</label>
                        <div class="row">
                            <div class="col-4">
                                <label for="formGroupExampleInput">P</label>
                                <input type="text" class="form-control" id="formGroupExampleInput">
                            </div>
                            <div class="col-4">
                                <label for="formGroupExampleInput">M</label>
                                <input type="text" class="form-control" id="formGroupExampleInput">
                            </div>
                            <div class="col-4">
                                <label for="formGroupExampleInput">G</label>
                                <input type="text" class="form-control" id="formGroupExampleInput">
                            </div>
                        </div> 
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Selecionar imagens</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-dark">Salvar</button>
                    </div>
                </form>                
            </div>

            <div class="card-footer text-muted"></div>
        </div>
    </div>
    
    
    
    
    
