<div class="container">
    <div class="row">
        <div class="col-3 margin">
            <div class="card" style="width: 15rem;">
                <img src="assets/Gabriela.jpg" class="card-img-top">
                <div class="card-body" style="font-size: 12px;">
                    <h5>Natasha Castro</h5>
                    <p class="card-text">natasha.castro@alunos.ifsuldeminas.edu.br</p>
                    <p class="card-text">(35) 99999-9999</p>
                    <p class="card-text">Instituto Federal de Ciência e Tecnologia do Sul de Minas Gerais - Campus Poços de Caldas</p>
                    <p class="card-text">Bacharelado em Engenharia de Computação</p>                 </div>
            </div>
        </div>
        <div class="col-3 margin">
            <div class="card" style="width: 15rem;">
                <img src="assets/Gabriela.jpg" class="card-img-top">
                <div class="card-body" style="font-size: 12px;">
                    <h5>Gabriela Garcia</h5>
                    <p class="card-text">gabriela.garcia@alunos.ifsuldeminas.edu.br</p>
                    <p class="card-text">(35) 99999-9999</p>
                    <p class="card-text">Instituto Federal de Ciência e Tecnologia do Sul de Minas Gerais - Campus Poços de Caldas</p>
                    <p class="card-text">Bacharelado em Engenharia de Computação</p>                
                </div>
            </div>
        </div>
        <div class="col-3 margin">
            <div class="card" style="width: 15rem;">
                <img src="assets/Giovanna.jpeg" class="card-img-top">
                <div class="card-body" style="font-size: 12px;">
                    <h5>Giovanna Moreira</h5>
                    <p class="card-text">giovanna.moreira@alunos.ifsuldeminas.edu.br</p>
                    <p class="card-text">(35) 99999-9999</p>
                    <p class="card-text">Instituto Federal de Ciência e Tecnologia do Sul de Minas Gerais - Campus Poços de Caldas</p>
                    <p class="card-text">Bacharelado em Engenharia de Computação</p>
                </div>
            </div>
        </div>
        <div class="col-3 margin">
            <div class="card" style="width: 15rem;">
                <img src="assets/Luziane.jfif" class="card-img-top">
                <div class="card-body" style="font-size: 12px;">
                    <h5>Luziane Freitas</h5>
                    <p class="card-text">luziane.freitas@alunos.ifsuldeminas.edu.br</p>
                    <p class="card-text">(35) 99999-9999</p>
                    <p class="card-text">Instituto Federal de Ciência e Tecnologia do Sul de Minas Gerais - Campus Poços de Caldas</p>
                    <p class="card-text">Bacharelado em Engenharia de Computação</p>
                </div>
            </div>
        </div>
    </div>
</div>

