.rodape{
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #17A589;
    color: white;

}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(139, 247, 225);
}

.formato{
    padding-left: 10%;
}