<div class="rodape mt-5">
    <div class="container-fluid">
        <div class="formato">
            <a href=""><h5>Sobre</h5></a>
        </div>
        <div class="formato">
            <small>Copyright © 2019 Clothers.com.br LTDA</small>
        </div>
        <div class="formato">
            <small>
                CNPJ n.º 12.345.678/0005-99 / R. Assis Figueiredo, nº 1530, Centro Poços de Caldas - MG - CEP 37706-000
                - empresa do grupo Clothers.
            </small>
        </div>
    </div>
</div>