<app-menu></app-menu>
<app-menu-categorias></app-menu-categorias>
<div class="container">
	<div class="row">
		<div class="col-12">
				<div class="card margin">
					<div class="row">
						<div class="col-8">
							<div>
								<img src="https://picsum.photos/750/600" width="750px" height="420px" class="rounded-left">
							</div>
							<div>
								<div class="row">
									<div class="col-4 formatacao-imagens" >
										<div class="d-flex justify-content-center">
											<img src="https://picsum.photos/750/600" width="100px" height="100px" class="rounded">
										</div>
									</div>
									<div class="col-4 formatacao-imagens" >
										<div class="d-flex justify-content-center">
											<img src="https://picsum.photos/750/600" width="100px" height="100px" class="rounded">
										</div>
									</div>
									<div class="col-4 formatacao-imagens">
										<div class="d-flex justify-content-center">
											<img src="https://picsum.photos/750/600" width="100px" height="100px" class="rounded">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4" style="padding-left: 20px; padding-right: 20px;">
							<div style="margin-top: 10px;">
								<h3> {{ produto.titulo }}</h3>
							</div>
							<div style="margin-top: 20px;">
								<p> {{ produto.descricao }} </p>
							</div>
							<div class="d-flex justify-content-center">
								<h1>R$ {{ produto.preco }}</h1>
							</div>
							<div>
								<h6>Tamanho:</h6>
								<select class="form-control" id="exampleFormControlSelect1">
									<option>P</option>
									<option>M</option>
									<option>G</option>
								</select>
							</div>
							<div>
								<div class="d-flex justify-content-center" style="margin-top: 25px;">
									<button type="button" class="btn btn-success btn-lg">Comprar</button>
								</div>
							</div>
							
						</div>
					</div>
				</div> <!-- card.// -->
		</div>
	</div>
</div>