<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h5>Editar suas informações</h5>
        </div>

        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Nome</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Seu nome">
                </div>

                <div class="form-group">
                    <label for="inputRua">Rua</label>
                    <input type="text" class="form-control" id="inputRua" placeholder="Rua dos Bobos">
                </div>

                <div class="form-group formato">
                    <label for="inputNumero">Número</label>
                    <input type="text" class="form-control" id="inputNumero" placeholder="nº 0">   
                </div>
                <div class="form-group formato2">
                    <label for="inputComplemento">Complemento</label>
                    <input type="text" class="form-control" id="inputComplemento" placeholder="Complemento">
                </div>

                <div class="form-group formato3">
                    <label for="inputBairro">Bairro</label>
                    <input type="text" class="form-control" id="inputBairro" placeholder="Bairro">
                </div>

                <div class="form-group formato4">
                    <label for="inputCidade">Cidade</label>
                    <input type="text" class="form-control" id="inputCidade" placeholder="Cidade">
                </div>

                <div class="form-group formato5">
                    <label for="inputEstado">Estado</label>
                    <input type="text" class="form-control" id="inputEstado" placeholder="Estado">
                </div>


                <div class="form-group">
                    <label for="inputFone">Telefone</label>
                    <input type="text" class="form-control" id="inputFone" placeholder="(99) 99999-9999">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Endereço de email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-outline-dark">Salvar</button>
                </div>
            </form>                
        </div>

        <div class="card-footer text-muted"></div>
    </div>

</div>




